<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>ユーザー作成 | 課題管理アプリケーション</title>
</head>
<body>
<section layout:fragment="content">
<h1 class="mt-3">ユーザー作成</h1>

<form acrion="#" th:action="@{/users}" method="post" th:object="${userForm}">
  <!-- ユーザー名　-->
  <div class="mt-3">
    <label for="usernameInput" class="form-label">ユーザー名</label>
    <!-- username フィールドにエラーがあるなら、is-invalid を追加-->
    <input type="text" id="usernameInput" class="form-control" th:field="*{username}"
           th:classappend="${#fields.hasErrors('username')} ? is-invalid">
    <p class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">(errors)</p>
  </div>
  <!-- パスワード -->
  <div class="mt-3">
    <label for="passwordInput" class="form-label">パスワード</label>
    <input type="password" id="passwordInput" class="form-control" th:field="*{password}"
           th:classappend="${#fields.hasErrors('password')} ? is-invalid">
    <p class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">(errors)</p>
  </div>
  <!-- 権限 -->
  <div class="mt-3">
    <label class="form-label" for="authorityRadio">権限</label>
    <div id="authorityRadio">
      <div class="form-check" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
        <input class="form-check-input" type="radio" id="authorityAdminRadio" th:field="*{authority}" value="ADMIN"
        th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
        <label class="form-check-label" for="authorityAdminRadio">ADMIN</label>
      </div>
      <div class="form-check" th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
        <input class="form-check-input" type="radio" id="authorityUserRadio" th:field="*{authority}" value="USER"
               th:classappend="${#fields.hasErrors('authority')} ? is-invalid">
        <label class="form-check-label" for="authorityUserRadio">USER</label>
      </div>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('authority')}"
      th:errors="*{authority}">(errors)</p>
    </div>
  </div>
  <!-- ボタン（作成・キャンセル） -->
  <div class="mt-3">
    <button type="submit" class="btn btn-primary">作成</button>
    <a href="./list.html" th:href="@{/users}" class="btn btn-secondary">キャンセル</a>
  </div>
</form>
</section>
</body>
</html>